.col-md-10
  %br
  %h2 Add Template
  %br

  %form{ :method => "post", :action => "/admin/templates/add", :enctype => "multipart/form-data" }
    %table
      %tr
        %td
          %label.col-md-3{ :for => "template_title" }
            Template Title &nbsp;
        %td
          %input#template_title{ :type => "text", :name => "template_title", :required => true }
      %tr
        %td
          %label.col-md-3{ :for => "template_description" }
            Template Description &nbsp;
        %td
          %input#template_description{ :type => "text", :name => "template_description" }
      %tr
        %td
          %label.col-md-3{ :for => "template_type" }
            Template Type &nbsp;
        %td
          .control-group
            .controls
              %select{ :name => "template_type" }
                %option{ :selected => "selected" }
                  Word - Report Template
                %option
                  Word - Status Template
                %option
                  Word - Finding Template
                %option
                  Excel - Summary Template
      %tr
        %td
          %label.col-md-3{ :for => "template_file" }
            Template File &nbsp;
        %td
          %input#file{:type => 'file', :name => 'file'}
    %br
    %input.btn.btn-default{ :type => "submit", :value => "Add" }
    %a.btn.btn-default{ :href => "/admin/templates" }
      Cancel
