.col-md-10
  %br
  %h2 Edit Template
  %br

  %form{ :method => "post", :action => "/admin/templates/edit", :enctype => "multipart/form-data" }
    %input{:type => "text", :name => "old_template_title", :required=>true, :value => "#{@template.template_title}", type:"hidden"}
    %table
      %tr
        %td
          %label.col-md-3{ :for => "template_title" }
            Template Description &nbsp;
        %td
          %input#new_template_title{ :type => "text", :name => "new_template_title", :required => true, :value => "#{@template.template_title}" }
      %tr
        %td
          %label.col-md-3{ :for => "description" }
            File Description &nbsp;
        %td
          %input#description{ :type => "text", :name => "description", :value => "#{@template.description}" }
      %tr
        %td
          %label.col-md-3{ :for => "template_type" }
            Template type &nbsp;
        %td
          .control-group
            .controls
              %select{ :name => "template_type" }
                %option{ :selected => "selected" }
                  Word - Report Template
                %option
                  Word - Status Template
                %option
                  Word - Finding Template
                %option
                  Excel - Summary Template
      %tr
        %td
          %label.col-md-3{ :for => "template_file" }
            Template File
        %td
          %input#file{ :type => "file", :name => "file", :required => true }
    %input{ :type => "hidden", :name => "id", :value => "#{@template.id}" }

    %br
    %input.btn.btn-default{ :type => "submit", :value => "Modify" }
    %a.btn.btn-default{ :href => "/admin/templates" }
      Cancel
