.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1.h2 Edit Template

%form{ :method => "post", :action => "/admin/templates/edit", :enctype => "multipart/form-data" }
  %input{ :type => "hidden", :name => "id", :value => "#{@template.id}" }
  .form-group.row
    %label.col-lg-2.col-form-label{ :for => "report_type" } Report Type
    .col-lg-4
      %input#report_type.form-control{ :type => "text", :name => "report_type", :required => true, :value => "#{@template.report_type}" }
  .form-group.row
    %label.col-lg-2.col-form-label{ :for => "description" } File Description
    .col-lg-4
      %input#description.form-control{ :type => "text", :name => "description", :value => "#{@template.description}" }
  .form-group.row
    %label.col-lg-2.col-form-label{ :for => "finding_template" } Finding Template
    .col-lg-4
      .form-check
        %input#finding_template.form-check-input{ :type => "checkbox", :name => "finding_template" }
  .form-group.row
    %label.col-lg-2.col-form-label{ :for => "status_template" } Status Template
    .col-lg-4
      .form-check
        %input#status_template.form-check-input{ :type => "checkbox", :name => "status_template" }
  .form-group.row
    %label.col-lg-2.col-form-label{ :for => "file" } DOCX
    .col-lg-4
      .custom-file
        %input#file.custom-file-input{ :type => "file", :name => "file", :required => true }
        %label.custom-file-label{ :for => "file" } Choose file

  %br
  %input.btn.btn-primary{ :type => "submit", :value => "Modify" }
  %a.btn.btn-secondary{ :href => "/admin/templates" }
    Cancel
