.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1.h2 Administrator Specific Plugins

- if @menu.size > 0
  - @menu.each do |item|
    .form-group.row
      .col-lg-2
        %b #{item["name"]}
      .col-lg-6 #{item["description"]}
      .col-lg-2
        %a{ :href => "#{item["link"]}" } #{item["name"]}
- else
  No administrator specific plugins found.
