.span10
  - if not @nessusmap
    Nessus Auto Mapping not enabled. Contact your administrator to enable.
  - else
    %form{:method => 'post', :action => "/report/#{@report.id}/import_autoadd", :enctype=>"multipart/form-data"}
      %br
      %h2 Auto Add Findings from Nessus XML
      %br
      %table
        %tr
        %tr
          %td
            Upload Nessus XML File (Nessusv2 only).&nbsp;
            %br
            %br
            %input{:type => 'file', :name => 'file'}
        %tr
          %td
            %br
      %br
      %br
      %input{:type => "hidden", :name => "type", :value => "nessus"}
      %input{:type => 'submit', :value => 'Upload' }
      %a{ :href => "/report/#{@report.id}/additional_features"}
        %input{ :type => "button", :value => 'Cancel'}


