.col-md-10
  %br
  %h2 Import Report
  %br

  %form{ :method => "post", :enctype=>"multipart/form-data" }
    %table
      %tr
        %td
          %label.col-md-3{ :for => "file" }
            Upload JSON Report - Please be careful. This must have been exported from the UI.&nbsp;
          %input#file{ :type => "file", :name => "file" }

    %br
    %input.btn.btn-default{ :type => "submit", :value => "Upload" }
    %a.btn.btn-default{ :href => "/" }
      Cancel
