.col-md-10
  %br
  %h2 Upload Templated Findings
  %br

  %form{ :method => "post", :enctype => "multipart/form-data" }
    %table
      %tr
        %td
          %label.col-md-3{ :for => "file" }
            Upload JSON File - Please be careful. This must have been exported from the UI.&nbsp;
          %input#file{ :type => "file", :name => "file" }
      %tr
        %td
          %br
          &nbsp;&nbsp;&nbsp;
          %input{ :type => "checkbox", :name => "approved" }
          Automatically Approve Imported Findings. By default you should manually approve findings, this overrides that.

    %br
    %input.btn.btn-default{ :type => "submit", :value => "Upload" }
    %a.btn.btn-default{ :href => "/master/findings" }
      Cancel
