.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1.h2 Upload Templated Findings

.form-group.row
  %p.ml-3 Upload JSON File - Please be careful. This must have been exported from the UI.&nbsp;

%form{ :method => "post", :enctype => "multipart/form-data" }
  .form-group.row
    .col-lg-4
      .custom-file
        %input#file.custom-file-input{ :type => "file", :name => "file", :required => true }
        %label.custom-file-label{ :for => "file" } Choose file

  .form-group.row
    .col
      .form-check
        %input#approved.form-check-input{ :type => "checkbox", :name => "approved" }
        %label.form-check-label.pl-2{ :for => "approved" } Automatically Approve Imported Findings. By default you should manually approve findings, this overrides that.

  %br
  %input.btn.btn-primary{ :type => "submit", :value => "Upload" }
  %a.btn.btn-secondary{ :href => "/master/findings" }
    Cancel
