.span10
  %form{:method => 'post', :action => '/admin/plugins'}
    %br
    %h2 Available Plugins (Must Restart After Changes)
    %br
    %form
      %table
        - @plugins.each do |plug|
          - next unless plug["name"]
          %tr
            %td
              %h3
                #{plug["name"]}&nbsp;&nbsp;&nbsp;
            %td
              #{plug["description"]}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %td
              - if (plug["enabled"] == false) or (plug["enabled"] == true) or (plug["enabled"] == "false") or (plug["enabled"] == "true")
                - if (plug["enabled"] == true) or (plug["enabled"] == "true")
                  %input{:type => 'checkbox', :name => "#{plug['description']}", :checked => "checked"}
                - else
                  %input{:type => 'checkbox', :name => "#{plug['description']}"}
    %br
    %br
      %input{:type => 'submit', :value => 'Save' }
        %a{ :href => "/admin/plugins"}
      %input{ :type => "button", :value => 'Cancel'}


