.col-md-10
  - if @message
    - if @message == "success"
      %br
      %h2 Password Successfully Changed
      %br
  - else
    %br
    %h2 Change Password
    %br

    %form{ :method => "post" }
      %table
        %tr
          %td
            %label.col-md-3{ :for => "old_pass" }
              Old Password &nbsp;
          %td
            %input#old_pass{ :type => "password", :name => "old_pass", :value=> "", :autocomplete => "off" }
        %tr
          %td
            %label.col-md-3{ :for => "new_pass" }
              New Password &nbsp;
          %td
            %input#new_pass{ :type => "password", :name => "new_pass", :value=> "", :autocomplete => "off" }
        %tr
          %td
            %label.col-md-3{ :for => "new_pass_confirm" }
              Confirm New Password &nbsp;
          %td
            %input#new_pass_confirm{ :type => "password", :name => "new_pass_confirm", :value => "", :autocomplete => "off" }

      %br
      %input.btn.btn-default{ :type => "submit", :value => "Save" }
      %a.btn.btn-default{ :href => "/reports/list" }
        Cancel
