.col-md-10
  %br
  %h2 Restore attachments from Attachments Export
  %h4 Note: the restore file MUST be a zip file from the Attachments Export
  %br

  %form{ :method => "post", :enctype=>"multipart/form-data" }
    - if @no_file == "1"
      You forgot to include a file, silly
    %table
      %tr
        %td
          %label.col-md-3{ :for => "file" }
            Upload &nbsp;
          %input#file{ :type => "file", :name => "file" }

    %br
    %input.btn.btn-default{ :type => "submit", :value => "Upload" }
    %a.btn.btn-default{ :href => "/report/#{@report.id}/additional_features" }
      Cancel
