.span2
  %ul.nav.nav-list
    %li.nav-header Findings 
    %li{ :class => 'active' }
      %a{ :href => '/master/findings/new' } Add Finding
    %li
      %a{ :href => '#' } Link1
    %li.nav-header Sidebar
    %li
      %a{ :href => '#' } Link1
