.span10
  %form{:method => 'post', :enctype=>"multipart/form-data"}
    %br
    %h2 Upload Attachment
    %h4 Note: 
    %h4 &nbsp;&nbsp;&bullet;&nbsp;Only jpg and png are supported for screenshots
    %h4 &nbsp;&nbsp;&bullet;&nbsp;The file name is inherited from the file.
    %h4 &nbsp;&nbsp;&bullet;&nbsp;Multiple files can be uploaded at once.   
    - if @no_file == "1"
      You forgot to include a file, silly
    %br
    %br
    %table
      %tr
        %td
          Upload Files &nbsp;
        %td
          %input{:type => 'file', :name => 'files[]', :multiple => true}
      %tr
        %td
          Caption &nbsp;
        %td
          %input{ :type => 'text', :name => 'caption'}
      %tr
        %td
          Alignment &nbsp;
        %td
          %select{ :name => 'alignment'}
            %option{value: "Left", selected: params[:x] == "Left"}= "Left"
            %option{value: "Center", selected: params[:x] == "Center"}= "Center"
            %option{value: "Right", selected: params[:x] == "Right"}= "Right"
          
    %br
    %input{:type => 'submit', :value => 'Upload' }
    %a{ :href => "/report/#{@report.id}/edit"}
      %input{ :type => "button", :value => 'Cancel'}


