[Unit]
Description=serpico: SimplE RePort wrIting and COllaboration tool
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/Serpico
Environment=GEM_HOME=/home/$USER/.rvm/gems/ruby-2.3.3
ExecStart=/usr/share/rvm/rubies/ruby-2.3.3/bin/ruby /opt/Serpico/serpico.rb &
ExecStop=/usr/bin/pkill -f serpico.rb
#ExecReload=/etc/init.d/serpico restart
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
Alias=serpico

#using rvm 1.29.7
